{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Add Step" %}{% endblock %}


{% block page-js %}

    <script type="text/javascript">
  $(document).ready(function(){
    $("#add_step_form").validate({
      rules: {
        name: "required"
      },
      highlight: function(label) {
          $(label).closest('.control-group').addClass('error');
      },
      success: function(label) {
        label
        .text('OK!').addClass('valid')
       .closest('.control-group').addClass('success');
      }
    });
  });
  </script>

{% endblock page-js %}

{% block content %}
{{ form.non_field_errors }}

<form id="add_step_form" class="form-horizontal" action="" enctype="multipart/form-data" method="post">
  <fieldset>
    <legend>Add Step to {{classroom.name}}</legend>
    <div class="control-group {%if form.name.errors %}error{% endif %}">
      <label class="control-label" for="input01">*Step Name</label>
      <div class="controls">
        {{form.name}}
        <span class="help-inline">{{form.name.errors}}</span>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="input01">Content</label>
      <div class="controls">
        {{form.content}}
        <p class="help-block"></p>
      </div>
    </div>
    <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
    </div>
  </fieldset>

{% csrf_token %}
</form>
{% endblock %}