{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Add Step" %}{% endblock %}


{% block page-js %}
    <script src="{{ STATIC_URL }}epiceditor/js/epiceditor.min.js"></script>
    <script type="text/javascript">
    var opts = {
  container: 'epiceditor',
  basePath: '{{ STATIC_URL }}epiceditor',
  parser: marked,
  clientSideStorage: false,
  theme: {
    base:'/themes/base/epiceditor.css',
    preview:'/themes/preview/preview-dark.css',
    editor:'/themes/editor/epic-dark.css'
  },
  shortcut: {
    modifier: 18,
    fullscreen: 70,
    preview: 80,
    edit: 79
  }
}
var editor = new EpicEditor(opts).load();
    
    
  $(document).ready(function(){
    
    editor.importFile('some-file',$("#id_content").val());
    

    var validator = $("#add_step_form").validate({
      rules: {
        name: "required"
      },
      highlight: function(label) {
          $(label).closest('.control-group').addClass('error');
      },
      success: function(label) {
        label
        .text('OK!').addClass('valid')
       .closest('.control-group').addClass('success');
      }
    });

    $('#save_button').click(function() {
        var theContent = editor.exportFile(null,'html');
        $("#id_content").val(theContent);
        validator.resetForm(); 
   });
   
    $('#cancel_button').click(function() {
        validator.resetForm(); 
   });
     
    
  });
  </script>

{% endblock page-js %}

{% block content %}
{{ form.non_field_errors }}

<form id="add_step_form" class="form-horizontal" action="" enctype="multipart/form-data" method="post">
  <fieldset>
    <legend>Add Step to {{classroom.name}}</legend>
    <div class="control-group {%if form.name.errors %}error{% endif %}">
      <label class="control-label" for="input01">*Step Name</label>
      <div class="controls">
        {{form.name}}
        <span class="help-inline">{{form.name.errors}}</span>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="input01">Content (markdown)</label>
      <div class="controls">
        <div id="epiceditor"></div>
        {{form.content}}
        <p class="help-block"></p>
      </div>
    </div>
    <div class="form-actions">
            <button type="submit" class="btn btn-primary" id='save_button'>Save changes</button>
            <a class="btn" id="cancel_button" href='{% url class_create_step classroom.pk %}'>Cancel</a>
    </div>
  </fieldset>

{% csrf_token %}
</form>
{% endblock %}