{% extends "base.html" %}

{% block content %}
  <section id="classroom">
    <div class="page-header">
      <h1>Classrooms <small>a myriad of opportunities to learn something new</small></h1>
    </div>
    <div class="row">
      {% for classroom in classrooms %}
        <div class="span4">
          <h2>{{ classroom.name }} <a href='{% url class_create_step classroom.pk %}'><i class="icon-pencil"></i></a></h2>
          <p>{{ classroom.description }}</p>
          <p>[{{ classroom.status }}]</p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
