{% extends "base.html" %}

{% block page-js %}
  <script type="text/javascript">
    $(function() {
      // when interest button is clicked
      // do ajax call and hide button
      $(".interest").on("click", function(event) {
        event.preventDefault();
        var interest_button = $(this);
        $.ajax({
          type: "GET",
          url: $(this).attr("href"),
          success: function(data) {
            interest_button.hide();
          }
        });
      });
    });
  </script>
{% endblock page-js %}

{% block content %}
  <section id="classroom">
    <div class="page-header">
      <h1>Classrooms <small>a myriad of opportunities to learn something new</small></h1>
    </div>
    <div class="row">
      {% for classroom in classrooms %}
        <div class="span4">
          <h2>{{ classroom.name }}</h2>
          <p>{{ classroom.description }}</p>
          {% if classroom.is_active %}
              <a class="btn btn-primary btn-small" href="{% url class_take classroom.pk %}">Enter Class</a>
          {% endif %}
          <a class="btn btn-info btn-small interest" href="{% url class_interest classroom.pk %}">I'm Interested</a>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
