{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ classroom.name }} {% trans "Class in Session" %}{% endblock title %}

{% block page-js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/classroom.js"></script>
    <script type="text/javascript">
      $(function() {
        pubnub = channel_subscribe("classroom_{{ classroom.pk }}", "{{ user.username }}");

        $(".collapse").collapse();

        $("#ask_question_form").submit(function(event){
           event.preventDefault();
           var form = $(this);
           $.ajax({
             type: "POST",
             url: "{% url question_ask classroom.pk %}",
             data: $(this).serializeArray(),
             success: function(data) {
               var d = $.parseJSON(data);
               if (d.success) {
                 form[0].reset();
                 // alert question
               } else {
                 // highlight error fields
                 console.log(d);
               }
             }
           });
       });
       return false;

      });
    </script>
{% endblock page-js %}

{% block content %}
  <section class="class">
    <div class="page-header">
      <h1>{{ classroom.name }}</h1>
    </div>
    <div class="row">

      <div class="span8">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="nav-header">Steps</li>
              {% for step in classroom.steps %}
                <li{% if forloop.first %} class='active'{%endif %}>
                  <a href="#step{{step.pk}}" data-toggle="tab">{{step.name}}</a>
                </li>
              {% endfor %}
          </ul>
          <div class="tab-content">
            {% for step in classroom.steps %}
              <div class="tab-pane{% if forloop.first %} active{%endif %}" id="step{{step.pk}}">
                <div class="well" style="padding: 8px 0; height: 450px;">
                 <p>{{ step.content }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="span4">
        <div id="class-accordian" class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordian-toggle" href="#class-questions" data-parent="#class-accordian" data-toggle="collapse">
                <i class='icon-trophy'></i> Top Questions
              </a>
            </div>
            <div id="class-questions" class="accordion-body collapse in">
              <div class="accordion-inner">Line of Top Questions</div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordian-toggle" href="#class-new" data-parent="#class-accordian" data-toggle="collapse">
                New Questions
              </a>
            </div>
            <div id="class-new" class="accordion-body collapse in">
              <div class="accordion-inner">
                <ul>
                  {% for question in classroom.latest_unanswered_questions %}
                    <li>
                      <h4>{{ question.subject }}</h4>
                      <p>{{ question.content }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordian-toggle" href="#class-ask" data-parent="#class-accordian" data-toggle="collapse">
                <i class='icon-comment icon-large'></i> Ask Questions
              </a>
            </div>
            <div id="class-ask" class="accordion-body collapse in">
              <div class="accordion-inner">
                <form method="post" id="ask_question_form" action="{% url question_ask classroom.pk %}">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="input01">Subject</label>
                      <div class="controls">
                        {{ question_form.subject }}
                        <p class="help-block"></p>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input01">Question</label>
                      <div class="controls">
                        {{ question_form.content }}
                        <p class="help-block"></p>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Ask Question</button>
                      <button type="reset" class="btn">Clear</button>
                    </div>
                  </fieldset>
                  {% csrf_token %}
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordian-toggle" href="#class-status" data-parent="#class-accordian" data-toggle="collapse">
                Status Information
              </a>
            </div>
            <div id="class-status" class="accordion-body collapse in">
              <div class="accordion-inner">Status information about class</div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="span8">
        <h3>Scratchpad</h3>

      </div>
    </div>
  </section>
{% endblock content %}
