{% extends 'base.html' %}
{% load i18n %}
{% load classroom_tags %}

{% block title %}{{ classroom.name }} {% trans "Class in Session" %}{% endblock title %}

{% block page-js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/classroom.js"></script>
    <script type="text/javascript">
      $(function() {
        subscribeClassRoomChannel("classroom_{{ classroom.pk }}", "{{ user.username }}");

        $(".collapse").collapse();

        $('.btnNext').on('click', function() {
          nextTab();
        });

        $('.btnPrev').on('click', function() {
          prevTab();
        });

        $('a[data-toggle="tab"]').on('shown', function (e) {
          isLastTab();
          isFirstTab();
        });
      });

      function nextTab() {
        var e = $('#steps li.active').next().find('a[data-toggle="tab"]');
        if (e.length > 0) {
          e.click();
        }
        isLastTab();
      }

      function prevTab(elem) {
        var e = $('#steps li.active').prev().find('a[data-toggle="tab"]');
        if(e.length > 0) e.click();
        isFirstTab();
      }

       function isLastTab() {
        var e = $('#steps li:last').hasClass('active');

        if( e ){
            $('.btnNext').hide();
        }else{
            $('.btnNext').show();
        }
        return e;
      }

      function isFirstTab() {
        var e = $('#steps li:first').hasClass('active');
        if( e ){
            $('.btnPrev').hide();
        }else{
            $('.btnPrev').show();
        }
        return e;
      }
    </script>
{% endblock page-js %}

{% block content %}
  <section class="class">
    <div class="page-header">
      <h1>{{ classroom.name }}</h1>
    </div>
    <div class="row">

      <div class="span8">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs" id='steps'>
              {% for step in classroom.steps %}
                <li{% if forloop.first %} class='active'{%endif %}>
                  <a href="#step{{step.pk}}" data-toggle="tab">{{step.name}}</a>
                </li>
              {% endfor %}
          </ul>
          <div class="tab-content">
            {% for step in classroom.steps %}
              <div class="tab-pane{% if forloop.first %} active{%endif %}" id="step{{step.pk}}">
                <div class="well" style="padding: 8px 0; height: 450px;">
                 <p>{{ step.content|safe }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <h3>Scratchpad</h3>
         <form action="{% url class_take classroom.id %}" method="POST">
            {% csrf_token %}
            {{ scratchpad_form.as_p }}
            <input class="btn" type="submit" value="Update Scratchpad">
         </form>
      </div>

      <div class="span4">
        <div id="class-accordian" class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordian-toggle" href="#class-questions" data-parent="#class-accordian" data-toggle="collapse">
                <i class='icon-comment icon-large'></i> Questions
              </a>
            </div>
            <div id="class-questions" class="accordion-body collapse in">
              <div class="accordion-inner">{% top_questions classroom %}</div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordian-toggle" href="#class-answers" data-parent="#class-accordian" data-toggle="collapse">
               <i class='icon-comments icon-large'></i> Answers
              </a>
            </div>
            <div id="class-answers" class="accordion-body collapse in">
              <div class="accordion-inner">{% answered_questions classroom %}</div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordian-toggle" href="#class-status" data-parent="#class-accordian" data-toggle="collapse">
               <i class='icon-info-sign icon-large'></i> Status Information
              </a>
            </div>
            <div id="class-status" class="accordion-body collapse in">
              <div class="accordion-inner">Status information about class</div>
            </div>
          </div>
        </div>
        <h3>Controls</h3>
        <a href="#" class="btn btn-primary btnPrev" style="display: none;"><i class='icon-arrow-left icon-white'></i> Previous step</a> <a href="#" class="btn btn-primary btnNext" >Next step <i class='icon-arrow-right icon-white'></i></a>
      </div>

    </div>
  </section>
{% endblock content %}
