{% load i18n static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}{% endblock title %} TutorUs</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tutorus.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
    <style type="text/css" media="screen">
      body { padding-top: 60px; }
    </style>
    {% block page-css %}{% endblock page-css %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">TutorUs</a>
      <ul class="nav pull-right">
            <li><a href="#"><span id="conn_status" class="label">Not Connected</span></a></li>
          {% if user.is_authenticated %}
              <li><a href="{% url userena_profile_list %}"><span>{% trans 'All profiles' %}</span></a></li>
              <li><a href="{% url userena_umessages_list %}"><span>{% trans 'Messages' %}</span></a></li>
              <li><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'Account' %} ({{ user.username }})</span></a></li>
              <li><a href="{% url userena_signout %}"><span>{% trans 'Signout' %}</span></a></li>
          {% else %}
              <li><a href="{% url userena_signin %}"><span>{% trans 'Signin' %}</span></a></li>
              <li><a href="{% url userena_signup %}"><span>{% trans 'Signup' %}</span></a></li>
          {% endif %}
      </ul>
    </div>
      </div>
    </div>
    <div class="container">
      <!-- Messages just putting here for now, need better place -->
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
       <!--  End message just putting here for now, need better place -->
      {% endif %}
      {% block content_title %}{% endblock %}
      {% block content %}{% endblock content %}
      <hr>
      <footer>
        <p>Fried up by <a href="http://kencochrane.net/">Ken Cochrane</a>, <a href="http://johnmcostaiii.net">John Costa</a>, and <a href="http://www.reinbach.com">Greg Reinbach</a></p>
      </footer>
    </div>
    <div pub-key="pub-6eda272b-1ea0-4985-95ba-d4483e8ac8bd" sub-key="sub-cbb8b8b3-e93c-11e1-ae3c-858473decdae" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    {% block page-js %}{% endblock page-js %}
  </body>
</html>
