<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>TutorUs</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tutorus.js"></script>
    <style type="text/css" media="screen">
      body { padding-top: 60px; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">TutorUs</a>
      <ul class="nav pull-right">
            <li><a href="#"><span id="conn_status" class="label">Not Connected</span></a></li>
      </ul>
    </div>
      </div>
    </div>
    <div class="container">
        
        <!-- Messages just putting here for now, need better place -->
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
       <!--  End message just putting here for now, need better place -->
      {% endif %}
      {% block content_title %}{% endblock %}
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
