<ul class="unstyled" id="top-questions">
  {% for question in questions %}
    <li id="top-question-{{ question.pk }}">
      <h4>
        <span class="label label-success">{{ question.vote_count }}</span>
        {{ question.subject }}
      </h4>
      <blockquote>
        <p>{{ question.content }}</p>
        <small> {{ question.student.username }}</small>
      </blockquote>
      {% if is_tutor %}
        <form method="post" id="answer_form" action="{% url question_answer question.pk %}">
          {% csrf_token %}
          <textarea name="answer" cols="20" rows="5"></textarea>
          <p><input class="btn" type="submit" value="Post Answer" /></p>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>
